@font-face {
	font-family: "PokemonGB";
	src: url(./assets/fonts/pokemon-gb-font/PokemonGb-RAeo.ttf);
}

body,
input,
button {
	font-family: PokemonGB;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	/* outline: 1px solid red; */
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: 100vh;
	background: url(./assets/Images/background.jpg);
	background-size: cover;
	image-rendering: pixelated;
	backdrop-filter: blur(8px);
}

header {
	height: 200px;
}
header > img {
	height: 100%;
}

.bold {
	font-weight: bold;
}
.error {
	color: red;
}

.flex-row {
	display: flex;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.align-centered {
	justify-content: center;
	align-items: center;
}
.align-spacebetween {
	justify-content: space-between;
	align-items: center;
}

.location-card {
	position: relative;
	width: 150px;
	aspect-ratio: 1;
}
.location-card > img {
	object-fit: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 150px;
	aspect-ratio: 1;
}
.location-card > div {
	position: absolute;
	left: 1em;
	top: 0.5em;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.25em;
}
.selected-img {
	object-fit: cover;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 450px;
	aspect-ratio: 1;
}

.gap-025 {
	gap: 0.25em;
}
.gap-05 {
	gap: 0.5em;
}
.gap-1 {
	gap: 1em;
}
