* {
	outline: 1px dotted lightgray;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 0;
	padding: 0;

	min-height: 100svh;
}

.bold {
	font-weight: bold;
}
.error {
	color: red;
}

.flex-row {
	display: flex;
}

/* li {
	display: inline-block;
	margin: 10px;
}

li img {
	width: 200px;
	height: 200px;
	border: 2px solid transparent;
	cursor: pointer;
}

li img.selected {
	border-color: red;
} */

.location-card {
    position: relative;
    width: 150px;
    aspect-ratio: 1;
}
.location-card > img {
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 150px;
    aspect-ratio: 1;
}
.location-card > div {
    position: absolute;
    left: 1em;
    top: 0.5em;
    background-color: rgba(0,0,0,0.5);
    padding: 0.5em;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
}


.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.25em;
}
.selected-img {
	object-fit: cover;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 450px;
	aspect-ratio: 1;

}
.gap-1{
	gap: 1em;
}