* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 0;
	padding: 0;

	min-height: 100svh;
}

.bold {
	font-weight: bold;
}
.error {
	color: red;
}

.flex-row {
	display: flex;
}

/* li {
	display: inline-block;
	margin: 10px;
}

li img {
	width: 200px;
	height: 200px;
	border: 2px solid transparent;
	cursor: pointer;
}

li img.selected {
	border-color: red;
} */

.location-card {
	position: relative;
	width: 150px;
	aspect-ratio: 1;
}
.location-card > img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.location-card > div {
	position: absolute;
	left: 1em;
	top: 0.5em;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.25em;
}

.new-player-page {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.starter-pokemon-selection {
	gap: 0.25em;
}
.starter-pokemon-selection > div {
	padding: 0.5em 1em;
	border: 1px solid black;
	border-radius: 0.25em;
}
